
name: build project

on:
  workflow_call:
    inputs:
      python-version:
        description: 'Python version to use'
        required: false
        default: '3.11'
        type: string
jobs:
  build_project:
    runs-on: ubuntu-latest
    steps:
    - name: get code
      uses: actions/checkout@v4
    - name: Set up Python ${{ inputs.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ inputs.python-version }}
    - name: Cache dependencies
      if: inputs.python-version == '3.11'
      uses: actions/cache@v3
      with:
        path: .venv
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
    - name: Install dependencies
      run: |
        python -m venv .venv
        source .venv/bin/activate
        python -m pip install --upgrade pip
        pip install -e .
        pip install -r requirements.txt
    - name: build the project
      run: |
        source .venv/bin/activate
        pip wheel . -w wheels
    - name: Upload artifacts
      if: inputs.python-version == '3.11'
      uses: actions/upload-artifact@v4
      with:
        name: wheels
        path: wheels/
