name: Basic pipeline

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
    - name: get code
      uses: actions/checkout@v4
    - name: list files
      run: ls -la
