name: Pylint

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.11
      uses: actions/setup-python@v3
      with:
        python-version: 3.11
    - name: Install dependencies
      run: |
        ls
        cd nt-users-tool
        poetry install
    - name: Analysing the code with pylint
      run: |
        poetry run pylint $(git ls-files '*.py')
